@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

body, html {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto;   /* Show vertical scrollbar when needed */
}


iframe {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}



@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl text-[#84735b] sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#84735b] to-[#a49382] text-white
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
/*   background: repeating-linear-gradient(
    45deg,
    var(--secondary),
    var(--secondary) 5px,
    var(--primary) 5px,
    var(--primary) 10px
  ); */
  border-radius: 20px;
  border: 3px solid var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

#articleButtons .article-btn {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  border: none; /* Remove border */
  border-radius: 20px; /* Rounded corners for the buttons */
  padding: 10px; /* Add some padding */
  margin: 0 5px; /* Add some space between buttons */
  cursor: pointer; /* Pointer cursor on hover */
}

#articleButtons .article-btn:hover {
  background: rgba(255, 255, 255, 0.8); /* More opaque on hover */
}

#articleButtons .article-btn i {
  color: #333; /* Icon color */
}

.object-cover {
  object-fit: cover;
}


/**
Color palette:
#84735b
#efedea
#b0a497
#c3bcab
#c4b4ab
#a49382
#998a79
#a59c84
#948c6c
*/